﻿

<div class="row">
    <div class="col-md-10">
        <h1>
            Asserts
        </h1>
    </div>
    <div class="col-md-1" *ngIf="!isDetailView">
        <input type="button" class="btn btn-primary" [disabled]="isDeleting" (click)="openDetailView()" style="margin-top:20px" value="Add New" />
    </div>
    <div class="col-md-1" *ngIf="!isDetailView">
        <button class="btn btn-default" [disabled]="!enableDelete() || isDeleting" (click)="onDeleteAsserts()" style="margin-top:20px">Delete</button>
    </div>

</div>
<div class="row" *ngIf="!isDetailView">
    <div class="col-md-1">
        <select class="form-control" [(ngModel)]="recordsPerPage" (change)="fetchAsserts()"  style="width: 80px;">
            <option>50</option>
            <option>100</option>
            <option>500</option>
            <option>1000</option>
        </select>
    </div>
    <div class="col-md-3">
        <input class="btn btn-link" type="button" (click)="onPageNumberChange(0)" value="Prev" />
        <input class="btn btn-link" type="button" value="Next" (click)="onPageNumberChange(1)" />
    </div>
</div>
<p *ngIf="isFetchingAsserts"><em>Loading...</em></p>
<table class='table' *ngIf="!isFetchingAsserts && !isDetailView">
    <thead>
        <tr>
            <th style="width: 20px;"></th>
            <th>Name</th>
            <th>Created on</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let assert of asserts">
            <td><input type="checkbox" value="" [(ngModel)]="assert.checked" /></td>
            <td><a style="cursor:pointer" (click)="openDetailView(assert)">{{ assert.name }} </a></td>
            <td>{{ assert.updatedOn | date:'medium' }}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="asserts.length<=0 && !isDetailView">
    No asserts found
</div>

<div class="custom-container jumbotron" *ngIf="isDetailView">
    <button class="btn btn-default pull-right" (click)="isDetailView=false;showSuccessMsg=false">x</button>
    <form class="form-horizontal" [formGroup]="assertForm" (ngSubmit)="onSubmit(assertForm)">
        <fieldset>
            <legend *ngIf="!isEditMode"> Add New Assert  </legend>
            <legend *ngIf="isEditMode"> View/Edit Assert  </legend>
            <div class="form-group">
                <label for="Name">Name <span style="color:red">*</span></label>
                <input id="Name" name="name" formControlName="name" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Email">Email  <span style="color:red">*</span></label>
                <input id="Email" name="email" formControlName="email" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input id="Description" name="description" formControlName="description" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <select id="Country" name="country" class="form-control" formControlName="country">
                    <option *ngFor="let g of countries"
                            [value]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="MimeType">MimeType</label>
                <select id="MimeType" name="mimeType" class="form-control" formControlName="mimeType">
                    <option *ngFor="let g of mimeTypes"
                            [value]="g.id">
                        {{g.name}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" *ngIf="isEditMode" [disabled]="!assertForm.valid || isUpdating" class="btn btn-primary">{{(!isUpdating?'Update':'Updating..')}}</button>
                <button type="submit" *ngIf="!isEditMode" [disabled]="!assertForm.valid || isUpdating" class="btn btn-primary">{{(!isUpdating?'Save':'Saving..')}}</button>
                <button (click)="isDetailView=false;showSuccessMsg=false" type="button" [disabled]="isUpdating" class="btn btn-default">Cancel</button>
                <span *ngIf="isEditMode && showSuccessMsg" style="color:green">Assert updated sucessfully</span>
                <span *ngIf="!isEditMode && showSuccessMsg" style="color:green">Assert inserted sucessfully</span>
            </div>
        </fieldset>
    </form>
</div>

